@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Cinzel:wght@400..900&family=Federant&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Cinzel:wght@400..900&family=Federant&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-Federant: "Federant", sans-serif;
  --font-cinzel: "Cinzel", serif;
}
